* {
    box-sizing: 0;
}

:root{
    --heading: 'Bellefair';
    --text:'Barlow Condensed';
    --ligh-blue: #D0D6F9;
    --black: #0B0D17;
    --ofwhite:#ffffff;
}
body {
    background-image: url(../photos/home/background-home-desktop.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
.logo {
    margin-left: 40px;
}
nav {
    display:flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.menu-icon {
    display: none;
}
header nav {
    background-color: hsla(0, 0%, 0%, 0.39);
    height: 96px;
    width: 60%;
}
header nav::before{
    content: "";
    position: absolute;
    width:33%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.251;
    left: 9%;
}
.taps{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
a{
    text-decoration: none;
    color:white;
    position: relative;
    font-size: 16px;
    letter-spacing: 2.7px;
    font-family: var(--text);
    text-transform: uppercase;
    cursor: pointer;
}
a span {
    font-weight: bold;
}
a::before {
    content: "";
    position: absolute;
    background-color:gray;
    height: 0px;
    width: 100%;
    left: 0;
    bottom: -38px;
    transition: 0.3s;
}
a:hover::before {
    height: 3px;
}
a.hovered::before {
    height: 3px;
    background-color: var(--ofwhite);
}
.content {
    display: grid;
    grid-template-columns:  50% 50%;
    height: 80%;
    color: var(--ligh-blue);
    font-family: var(--text);
    padding-top: 110px;
}
.left-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 18%;
    grid-column: 1/2;
    height: 495px;
    padding-top: 200px;
}
.right-section {
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;

}
.space{
    color: var(--ofwhite);
    font-family: var(--heading);
    font-size: 150px;
    font-weight: 100;
    text-transform: uppercase;
}
.paragraph .travel{
    letter-spacing: 2px;
    text-transform: uppercase;
}

.paragraph{
    width: 400px;
    font-weight: 400;
    font-size: 28px;
}
.home-text{
    font-size: 18px;
    line-height: 2em;
}
.explore {
    position: relative;
    font-family: var(--heading);
    font-size: 32px;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--ofwhite);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.explore::before {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.356);
    transition: 0.5s;
}
.explore:hover::before {
    width: 400px;
    height: 400px;
}
.dis-no{
    display: none !important;
}

h2 {
    font-size: 28px;
    font-weight:400;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 0;
    color: var(--ofwhite);
}
h2 span{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.356);
}
#destination nav{
    width: 400px;
    grid-column: 1/3;
    justify-content: flex-start;
}
#destination a::before {
    bottom: -10px;
}
#destination .right-section {
    padding-top: 180px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}
#destination .paragraph{
    position: relative;
    grid-column: 1/3;
    width: 530px;
}

#destination .paragraph::after{
    content: "";
    width:100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.251;
    display: block;
    position: absolute;
    bottom: 200px;
    bottom: -20px;
}
.time p,.distance p{
    font-family: var(--heading);
    font-size: 28px;
    text-transform: uppercase;

}
#destination h5{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-weight: 400;
}
#destination .time p,.distance p{
    color: var(--ofwhite);
}

#destination h1{
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 100px;
    font-family: var(--heading);
    color: var(--ofwhite);
}
.planet-content{
    display: grid;
    grid-template-columns: auto auto;
}

#crew .paragraph{
    width: 500px;
    
}
#crew .paragraph h1{
    color: var(--ofwhite);
    font-size: 56px;
    text-transform: uppercase;
    font-family: var(--heading);
    font-weight: 400;
}
#crew .paragraph h1 span{
    color: gray;
    font-size: 28px;
}
#crew .paragraph p{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.5em;
}
.crew-selectors{
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.crew-selectors span:hover{
    background-color: var(--ofwhite);
}
.crew-selectors span{
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    background-color: gray;
}
.menu-icon {
    display: none;
}
.tech-container{
    display: flex;
}
.tech-container p{
    font-size: 22px;
    margin: 0px 0px 0px 50px;
}
.tech-container p span{
    font-size: 56px;
    font-family: var(--heading);
    color: var(--ofwhite);
}
.tech-selectors{
    display: flex;
    height: 270px;
    width: 80px;
    justify-content: space-between;
    flex-direction: column;
}

.tech-selectors span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid white;
}
